// VARIABLES
$color-primary-Strong-cyan: hsl(172, 67%, 45%);
$color-Very-dark-cyan: hsl(183, 100%, 15%);
$color-Dark-grayish-cyan: hsl(186, 14%, 43%);
$color-Grayish-cyan: hsl(184, 14%, 56%);
$color-Light-grayish-cyan: hsl(185, 41%, 84%);
$color-Very-light-grayish-cyan: hsl(189, 41%, 97%);
$color-White: hsl(0, 0%, 100%);

// TYPOGRAPHY
$font-size-inputs: 24px;
$font-family: "Space Mono", monospace;
