@import "/src/assets/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import "_variables";
@import "_general";

/*
 *	CONTENT
 ------------------------------------------------------ */
h2 {
  margin: 0;
}

/* Header */
header {
  text-align: center;
  letter-spacing: 0.5em;
  font-size: 0.8em;
}

h1 {
  margin: 1.5em;

  p {
    margin: 0.3em 0 0 0;
  }
}

/* Tip Card */
.tip-card {
  background: $color-White;
  border-radius: 20px;
  padding: 2em;
}

.card-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0 0.2em;

  h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
}

button {
  background: $color-Very-dark-cyan;
  color: $color-White;
  padding: 0.7em 0;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;

  &:hover {
    cursor: pointer;
    background: $color-Light-grayish-cyan;
    color: $color-Very-dark-cyan;
  }
}

// Bill, People sections inputs
.bill,
.people {
  input {
    width: 100%;
    padding: 0.5em 1em;
    text-align: right;
    color: $color-Dark-grayish-cyan;
    border: 2px solid $color-White;
    border-radius: 5px;
    background: $color-Very-light-grayish-cyan url(../images/icon-dollar.svg)
      no-repeat left 1em center;

    &:focus,
    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 2px solid $color-primary-Strong-cyan;
    }
  }
}

.people {
  input {
    background: $color-Very-light-grayish-cyan url(../images/icon-person.svg)
      no-repeat left 1em center;
  }

  h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.msg-zero {
  color: $color-error;
  margin: 0;
  font-size: 0.9em;
  display: none;
}

/* Percentage buttons grid */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1em, 9em));
  grid-gap: 1em;
}

/* Custom Tip Input */
.btn-custom {
  text-align: right;
  color: $color-Very-dark-cyan;
  font-size: 1.4em;
  padding-right: 0.6em;
  background: $color-Very-light-grayish-cyan;
  border: 2px solid $color-White;
  border-radius: 5px;

  &:focus,
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid $color-primary-Strong-cyan;
  }
}

/* Tip summary section */
.tip-summary {
  display: flex;
  flex-direction: column;
  background: $color-Very-dark-cyan;
  border-radius: 15px;
  padding: 2em 1em 1em 1em;
  margin-top: 1.5em;
  color: $color-White;
  gap: 1.4em;
}

.tip-person,
.tip-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    font-size: 1em;
  }

  span {
    display: block;
    margin-top: 0.3em;
    color: $color-Grayish-cyan;
    font-size: 0.9em;
  }

  p {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 2em;
    color: $color-primary-Strong-cyan;
  }
}

.btn-reset {
  width: 100%;
  color: $color-Very-dark-cyan;
  background: $color-primary-Strong-cyan;
  padding: 0.5em 0;

  &:disabled {
    cursor: auto;
  }
}

/* Footer */
footer {
  margin-top: 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.active {
  background: $color-primary-Strong-cyan;
  color: $color-Very-dark-cyan;
}
/*
 *	MEDIA QUERIES
 ------------------------------------------------------ */
@media screen and (min-width: 535px) {
  app-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .tip-card {
    width: 535px;
  }
}

@media screen and (min-width: 999px) {
  app-layout {
    justify-content: center;
  }

  .tip-card {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 76%;
  }

  .card-inputs,
  .tip-summary {
    width: 50%;
  }

  .card-inputs {
    padding: 0.5em 0.2em;
    gap: 2.5em;
  }

  .btn-grid {
    grid-template-columns: repeat(auto-fill, minmax(1em, 7.5em));
  }

  .tip-summary {
    margin: 0;
    padding: 3em 2.5em;
  }

  .tip-total {
    margin-top: 2em;
  }

  .tip-person p,
  .tip-total p {
    font-size: 2.5em;
  }

  .btn-reset {
    position: relative;
    top: 7em;
  }
}

@media screen and (min-width: 1179px) {
  .tip-card {
    max-width: 897px;
  }

  .btn-reset {
    top: 4em;
  }
}
