@import url(/assets/css/normalize.css);
@import "_variables";
@import "_general";

/*
 *	CONTENT
 ------------------------------------------------------ */

/* Header */
/* Tip Card */
/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
 *	MEDIA QUERIES
 ------------------------------------------------------ */
